<%= simple_form_for :search, url: tracks_path, method: :get do |f| %>
  <div class="search-form-control form-group" id='search-bar'>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find the perfect race for you"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
  <button name="button" type="submit" class="btn btn-primary form-button">
    <i class="fas fa-search"></i>
  </button>

  </div>
<% end %>

<div class="cards">
  <% if @tracks %>
    <% @tracks.each do |track| %>
      <%= link_to track_path(track), data: { turbolinks: false } do %>

        <% if track.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)), url('<%= cl_image_path track.photo.key %>')">

           <div class="card-distance-right">
             <div class="card-distance">
               <%= track.distance %> km
             </div>
           </div>

              <div class="card-info">
               <div class="card-info-box">
                 <i class="fas fa-calendar-day"></i> <%= track.date.strftime("%d-%m-%Y") %>
               </div>
              </div>
            <div class="card-text">
              <%= track.name.upcase %>
            </div>
          </div>

        <% else %>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?{run})">
            <div class="card-distance-right">
              <div class="card-distance">
                <%= track.distance %> km
              </div>
            </div>

            <div class="card-text">
              <%= track.name.upcase %>
              <div class="card-info">
                <div class="card-info-box">
                  <i class="fas fa-calendar-day"></i> <%= track.date.strftime("%d-%m-%Y") %>
                </div>
              </div>


            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<br>

