<div class="container-track-show col-12">
  <%# case 1 before joining race  %>
  <% if !@race.present? %>

      <div class="track-descrption col-12 mb-5">
        <h2> <%= @track.name %> </h2>
        <h3>Race Details</h3>
        <p><%= "#{@track.distance} Km - #{@track.distance * 1.6} Miles" %><p>
        <p><%= "Date: #{@track.date} Time: #{@track.time_to_start}" %></p>
        <p>Description</p>
        <p><%=@track.description%></p>
        <%# join race button %>
        <%= simple_form_for [@track, Race.new]  do |f| %>
          <%= f.submit "Join Race", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="map-container">

      </div>


  <% else %>
  <% end %>
</div>






<h1><%= @track.name %></h1>


<% if @race.present? %>


  <% if @race.strava_activity_id.present? %>

    <div class="d-flex justify-content-around">
      <button class="btn btn-secondary" disabled>Go to strava and start running</button>
      <%= link_to "Finished Running", track_path(@track),class: "btn btn-primary"  %>
    </div>

    <div class="container">
      <div class="d-flex">
        <h2>Your stats</h2>
        <% if @race.status == "finished" %>
          <%= "time:#{@race.elapsed_time} #{@race.start_lat_lng} #{@race.end_lat_lng} avg: #{@race.average_speed} max: #{@race.max_speed}" %>
        <% elsif @race.status == "ongoing" %>
          <p>ongoing</p>
        <% end %>
      </div>

      <div class="d-flex">
        <h2>Everyone's Stats</h2>
        <% @finished_races.each do |race| %>
          <p><%= race.elapsed_time %></p>
        <% end %>
      </div>
    </div>



  <% elsif @track.date == Date.today %>
    <%= link_to "Start Running", start_running_race_path(@race), method: "post", class: "btn btn-primary" %>
  <% else %>
    <button class="btn btn-primary" disabled>Not the time yet</button>
  <% end %>

<% else  %>

<% end %>





<!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script> -->
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
type="text/css"
/>


<div class="map-with-button">
  <div class="track-map col-8">
    <div id="map"
      style="width: 100%; height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>


  <% if @racewithuser.empty?  %>
    <div>
      <%= link_to track_races_path(@track), method: :POST, remote: true do %>
        <p class='btn btn-danger' id='sweet-alert-join'> Join this Race</p>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to track_race_path(@track, @race), method: :DELETE, remote: true do %>
        <p class='btn btn-danger'> Cancel </p>
      <% end %>
    </div>
  <% end %>




<div>
  <h3 id='runners'> Runners </h3>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, class:'avatar'%>
      <% else %>
        <%= image_tag "avatar-default-copy.png", crop: :fill, class:'avatar' %>
      <% end %>
    <% end %>
 <%end %>
</div>

