  <div class="form-centralize">
    <div class="form-borders">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <div class="form-inputs">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :username, required: true %>
        <%= f.input :level, required: true, collection: (1..5), hint:'in 1 to 5 what level do you think you are' %>
        <%= f.input :Bio, required: true, hint: "Tell us about yourself"%>
        <%= f.input :photo, as: :file %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        <div class="form-button">
          <%= f.button :submit, "Update" %>
         <% end %>
        </div>

      </div>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
    </div>

  </div>
