<div class="container">
  <div class="card-hovercard">
    <div class="cardheader">
    </div>
        <div class="profile-container">

          <div class="profile-item">
              <%= cl_image_tag @user.photo.key, crop: :fill, class: "profile-pic", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if @user.photo.attached?%>
              <%= image_tag "avatar-default-copy.png", crop: :fill, class: "profile-pic", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false unless @user.photo.attached?%>

              <h1><%= @user.username.capitalize %></h1>
              <div class="show-img-name-status">
                <p><i class="fas fa-running"></i><%= puts "0" if @user.races_number.nil? %></p>
                <p><%= @user.races_number  %></p>
              </div>
          </div>

          <div class="profile-item">
                <div class="card bg-light mb-3">
                  <div class="card-header">
                    <%= link_to "Create your own Race", new_track_path, class:"btn btn-primary"%>
                    <%= link_to edit_user_registration_path, class: "nav-link" do %>
                  </div>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                  <div class="card-body">
                    <p>About me: <%= @user.Bio.capitalize %></p>
                    <p>Username: <%= @user.username.capitalize %></p>
                    <p>Races number: <%= @user.races_number %></p>
                    <p>Level: <%= @user.level %></p>
                  </div>
            </div>
          </div>


          <div class="profile-item">
            <div class="card bg-light mb-3">
              <div class="card-header">
                <h2>Scheduled Races</h2>
              </div>

                <div class="card-body">
                 <% @raceopen.each do |race|%>
                     <% track = Track.find(race.track_id) %>
                     <%= link_to track_path(track) do%>
                     <%=  track.name %>
                   <% end %>
                   <% end %>
                </div>

            </div>
          </div>

            <div class="profile-item">
              <div class="card bg-light mb-3">
                <div class="card-header">
                  <h2>Past Races</h2>
                </div>
                <div class="card-body">
                  <% @raceclose.each do |race|%>
                    <% track = Track.find(race.track_id) %>
                      <%= link_to track_path(track) do%>
                      <%=  track.name %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
      </div>
</div>


