<div class="show">
  <div class="show-top">
    <div class="show-img-name" data-aos='fade-right'>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "profile-pic", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if @user.photo.attached?%>
      <%= image_tag "avatar-default-copy.png", crop: :fill, class: "profile-pic", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false unless @user.photo.attached?%>

      <h1><%= @user.name %>
    </div>
  </div>
  <div class="show-top">
      <div class="show-info" data-aos='fade-right'>

        <%= link_to "Create your own Race", new_track_path, class:"btn btn-danger"%>


        <div class="show-decription">
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-edit"></i>
          <% end %>
          <p>About me: <%= @user.Bio %></p>

          <p>username : <%= @user.username %></p>
          <p>Races number : <%= @user.races_number %></p>
          <p>level : <%= @user.level %></p>
        </div>
      </div>
  </div>
  <div class="show-top">
    <div class="show-scheduled-races">
      <h2>Scheduled Races</h2>
      <% @raceopen.each do |race|%>

        <% track = Track.find(race.track_id) %>

        <%= link_to track_path(track) do%>
          <%=  track.name %>
        <% end %>

      <% end %>
    </div>

    <div class="show-past-races">
      <h2>Past Races</h2>
      <% @raceclose.each do |race|%>

        <% track = Track.find(race.track_id) %>

        <%= link_to track_path(track) do%>
          <%=  track.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
