<div class="profile-page">
  <%= image_tag "profile-background.jpg" , width: "100%", class: "hovercard" %>


  <div class="profile-photo">
    <%= cl_image_tag @user.photo.key, crop: :fill, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if @user.photo.attached?%>
    <%= image_tag "avatar-default-copy.png", crop: :fill, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false unless @user.photo.attached?%>
  </div>
  <h1><%= @user.username.capitalize %></h1>
  <div class="show-img-name-status">
    <p><i class="fas fa-running"></i><%= puts "0" if @user.races_number.nil? %></p>

    <p><%= @user.races_number  %></p>
  </div>

  <div class="btn btn-primary">
    <%= link_to "Create your own Race", new_track_path %>
    <%= link_to edit_user_registration_path, class: "nav-link" do %>
    <i class="fas fa-user-edit"></i>
    <% end %>
  </div>


  <div class="card-body">
    <p>About me: <%= @user.Bio.capitalize %></p>
    <p>Username: <%= @user.username.capitalize %></p>
    <p>Races number: <%= @user.races_number %></p>
    <p>Level: <%= @user.level %></p>
  </div>





  <div class="card bg-light mb-3">
    <div class="card-header">
      <h2>Scheduled Races</h2>
    </div>

    <div class="card-body">
      <% @raceopen.each do |race|%>
        <% track = Track.find(race.track_id) %>
        <%= link_to track_path(track) do%>
          <%=  track.name %>
        <% end %>
      <% end %>
    </div>
  </div>



  <div class="card bg-light mb-3">
    <div class="card-header">
      <h2>Past Races</h2>
    </div>
    <div class="card-body">
      <% @raceclose.each do |race|%>
        <% track = Track.find(race.track_id) %>
        <%= link_to track_path(track) do%>
          <%=  track.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

