<div class="menu fixed-bottom">

  <div class="menu-links">



    <% if request.fullpath == tracks_path %>

      <%= link_to tracks_path, class: 'btn btn-secondary  menu-icon' do %>
        <i class="fas fa-home"></i>
      <% end %>
    <% else %>
      <%= link_to tracks_path, class: 'btn btn-light menu-icon' do %>
        <i class="fas fa-home"></i>
      <% end %>
    <% end %>




    <% if current_user %>
      <% if request.fullpath == user_path(current_user) %>
        <%= link_to user_path(current_user), class: 'btn btn-secondary  menu-icon'   do %>
          <i class="fas fa-running"></i>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user), class: 'btn btn-light menu-icon'   do %>
          <i class="fas fa-running"></i>
        <% end %>
      <% end %>
    <% end %>



  <% if request.fullpath == new_track_path %>
    <%= link_to new_track_path, class: 'btn btn-secondary menu-icon' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <%= link_to new_track_path, class: 'btn btn-light menu-icon' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  <% end %>

  </div>
</div>




    <!-- <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
 -->

